/* src/components/Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dim the background to enhance focus on modal */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0);
    /* Completely transparent */
    padding: 13px;
    border-radius: 8px;
    position: absolute;
    width: 300px;
    /* or any size you prefer */
    z-index: 1001;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
}